.user-bar {
  height: 52px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-bar__column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-bar__column-image {
  height: 34px;
  width: 34px;
  background-color: peru;
  border-radius: 50%;
  margin: 0 10px;
}

.user-bar__column-info {
  font-size: 13px;
}

.user-bar__column-info__name {
  font-weight: 600;
  margin-bottom: 3px;
}

.user-bar__column i {
  margin-right: 18px;
}
